package main

import "github.com/gorilla/websocket"

//Path to the frontend folder provided by repo.
var FRONTEND_FOLDER string = "../frontend"
//Your secret key defined by IFTTT_API
var IFTT_KEY string = ""
//The websocket upgrader, you can leave it by default
//or modify buffer sizes in order to optimize the comunication
var UPGRADER = websocket.Upgrader{
	ReadBufferSize: 1024,
	WriteBufferSize: 1024,
}