package main

import (
	"github.com/gorilla/websocket"
	"net/http"
)

//absolute path to project folder
var PROJECT_FOLDER string = ""
//IFTTT API secret
var IFTT_KEY string = ""
//Socket upgrader. You can leave it by default. Feel free to modify parameters.
var UPGRADER = websocket.Upgrader{
	CheckOrigin: func(r *http.Request) bool {return true},
	ReadBufferSize: 1024,
	WriteBufferSize: 1024,
}
